.backgroud{
    display: flex;
    inset: 0; 
    justify-content: center;
    background: linear-gradient(135deg, #101828 0%, #1E2939 50%, #312C85 100%);
    position: fixed;   /* stays in one place */
    top: 0;
    left: 0;
    padding-top: 6rem;
}

.wholeBlock{
    display: flex;
    width: 28rem;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.pageLogoContainer{
    height: 10.5rem;
    flex-shrink: 0;
    align-self: stretch;
}

.logo{
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1677718.75rem;
    background: #615FFF;
    box-sizing: border-box;
}

.logoIcon{
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
}

.pageTitleBox
{
    display: inline-flex;
    padding: 0 7.18594rem 0rem 7.25156rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.50rem;
}
.pageTitle{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.pageTitleTextBox{
    display: inline-flex;
    padding: 0 5.54531rem 0rem 5.57969rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.pageTitleText{
    color: #99A1AF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}


.googleSignInBox{
    padding: 2rem;
    flex-shrink: 0;
    align-self: stretch;
    margin-top: 3rem;
    border-radius: 1rem;
    border: 0.8px solid #364153;
    background: #1E2939;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeSign{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
    margin: 0;
    
}
.welcomeTextBox{
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem; 
}
.welcomeText{
    color: #99A1AF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.continueWithGoogleButton{
    display: flex;
    width: 90%;
    height: 3.2rem;
    padding-right: 0;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.625rem;
    border: 1.6px solid #4A5565;
    background: #364153;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.googleIcon{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.continueWithGoogleText{
    display: flex;
    padding: 0 0.17031rem 0.1375rem 0.125rem;
    justify-content: center;
    align-items: center;
    color: #FFF;
    
}

.SecutreAuthenticationBox{
    width: 90%;
    height: 1.25rem;
}

.SecutreAuthenticationText{
    text-align: center; 
    color: #99A1AF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.infomationsAboutAppBox{
    display: flex;
    width: 90%;
    height: 5.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    margin-top: 1.5rem;
}

.infomationBox{
    display: flex;              
    align-items: center;        
    gap: 0.75rem;               
    align-self: stretch;
}

.infomationIconCircle{
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0; 
    justify-content: center;
    align-items: center;
    border-radius: 1677718.75rem;
    background: rgba(13, 84, 43, 0.30);
}

.infomationIcon{
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
}

.infomationText{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #D1D5DC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.dataStorageText{
    display: flex;
    padding: 0 6.01019rem 0 6.05231rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #99A1AF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}