.bookCard{
    display: flex;
width: 17.875rem;
height: 38.88594rem;
padding: 0.05rem;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
margin-top: 1rem;
margin-left: 14rem;
}

.photoFolder{
    height: 26.6625rem;
    flex-shrink: 0;
    align-self: stretch;
    
}

.backgroud{
    display: flex;
    width: 17.775rem;
    height: 26.6625rem;
    justify-content: center;
    align-items: center;
    background-color: #99A1AF;
    border: none;
}

.icon{
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.InformationBox{
    height: 12.12344rem;
    flex-shrink: 0;
    align-self: stretch;
    
}

.titleBox{
    display: flex;
width: 15.775rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 0.25rem;
background-color: #1E2939;
}

.title{
    display: flex;
height: 1.5rem;
padding: 0 13.9rem 0.1375rem 0;
align-items: center;
color: #FFF;
font-family: Arimo;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
}

.author{
    display: flex;
height: 1.25rem;
padding-right: 14.3375rem;
align-items: center;
color: #99A1AF;
font-family: Arimo;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
}