.bookCountBar{
    display: flex;
    width: 100%;
    height: 5.59925rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-shrink: 0;
    margin-top: 2rem;
    box-sizing: border-box;
    
}

.CountBox{
    display: flex;
    width: 18rem;
    height: 5.59925rem;
    padding: 0.3rem 1.05rem 0.05rem 1.05rem;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 0.8px solid #364153;
    background: #1E2939;
}

.CountTitleBox{
    display: flex;
    padding-right: 10rem;
    align-items: center;
    align-self: stretch;
}
.CountText{
    color: #99A1AF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.CountNumberBox{
    display: flex;
    height: 1.99925rem;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.CountNumber{
    color: #FFF;
    font-size:24px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
    padding-bottom: 1rem;
}