.navigationBar{
    display: flex;
    width: 100%;
    height: 3.15rem;
    padding: 0 14rem 0.05rem 14rem;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1.2px solid #364153;
    background: #1E2939;
    margin-top: 5.4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.buttonsContainer{
    display: flex;
    height: 3.1rem;
    align-items: flex-start;
    gap: 0.25rem;
    flex-shrink: 0;
    align-self: stretch;
}
.button1{
    display: flex;
    width: 9rem;
    height: 3.1rem;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1.6px solid #7C86FF;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: #1E2939;
    }

.icon1{
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}
.button1text{
   display: flex;
    padding-bottom: 0.1375rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    color: #7C86FF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.button2{
    display: flex;
    width: 9rem;
    height: 3.1rem;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    border: 1.6px solid rgba(0, 0, 0, 0.00);
    background: #1E2939;
    cursor: pointer;
    transition: background 0.2s, border-color 0.2s;
}

.icon2{
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}
.button2text{
    display: flex;
    padding-bottom: 0.1375rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    color: #99A1AF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.button2:hover {
    background: #232f44;
    border-bottom: 1.6px solid #7C86FF;
}
.button3{
    display: flex;
    width: 7.56956rem;
    height: 3.1rem;
    padding-left: 1rem;
    align-items: center;
    gap: 0.5rem;
    border: 1.6px solid rgba(0, 0, 0, 0.00);
    background: #1E2939;
}
.icon3{
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}
.button3text{
    display: flex;
    padding-bottom: 0.1375rem;
    justify-content: center;
    align-items: center;
    color: #99A1AF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}